<div class="home-card"
>
<mat-card>
  <mat-card-header>
    <mat-card-title>Let Us Know You</mat-card-title>
  </mat-card-header>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>
</p>
<p>
<mat-form-field appearance="outline">
  <mat-label>Phone</mat-label>
  <input matInput placeholder="0785647922">
</mat-form-field>
</p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Business Type</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>
  </p>
  <hr>
 <button class="btn btn-primary" (click)="pageOne()">LOGIN</button>
          
</mat-card>
</div>
