<div class="matcard">
    <mat-card class="example card">
        <mat-card-subtitle>Part 4</mat-card-subtitle>
        <mat-card-content>
<p>Are you using any technology to conduct your business? <br>Things like digital marketing,
    keeping records online etc<br>
    
</p>
<mat-radio-group [(ngModel)]="pageFourModel.businessTechnology">
<mat-radio-button *ngFor="let technology of technologies" [value]="technology.value">{{technology.name}}</mat-radio-button>
</mat-radio-group>
<p>
    How long have you been conducting your current business?
    </p>
<mat-radio-group [(ngModel)]="pageFourModel.businessTime">
<mat-radio-button *ngFor="let time of times" [value]="time.value">{{time.name}}</mat-radio-button>
</mat-radio-group>
<p>From the time you started your business have you either added 
    another business,<br>
     open another branch, launched new product or expand your business
    in anyways?
</p>
<mat-radio-group [(ngModel)]="pageFourModel.businessExpansion">
<mat-radio-button *ngFor="let expansionOption of expansionOptions" [value]="expansionOption.value">{{expansionOption.name}}</mat-radio-button>
</mat-radio-group>
</mat-card-content>
<button class="btn btn-primary btn default" (click)="close()">Next</button>
</mat-card>
</div>
