<div class="home-card">
    <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle><b>SMEs Survival & Growth Evaluation Platform</b></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="background.jpg" alt="business picture">
        <mat-card-content>
          <p>
            HELLO!
            
            You have a business plan in mind and you are not sure if you can 
            kick it through? Dont worry, Evaluate your Business survival Chances with us.
          </p>
        </mat-card-content>
        <mat-card-actions>
            <hr>
            <button class="btn btn-primary" (click)="pageOne()">Start Evaluation</button>
            <hr>
        </mat-card-actions>
      </mat-card>
      </div>
      

    