<div class="matcard">

<mat-card class="example-card">
    <mat-card-subtitle>Part 3</mat-card-subtitle>
    <mat-card-content>

<p>
    Do you have any specific training in your area of business?
</p>
<mat-radio-group [(ngModel)]="businessTrain">
<mat-radio-button *ngFor="let train of trains" [value]="train">{{train}}</mat-radio-button>
</mat-radio-group>
<p>
    Incase of issues and problems in your business who are you mostly like to
    call for help
</p>
<mat-radio-group [(ngModel)]="businessHelp">
<mat-radio-button *ngFor="let help of helps"[value]="help" >{{help}}</mat-radio-button>
</mat-radio-group>
<p>
    Do you have any necessary business registration and 
    compliance documents to run
    business in Tanzania?
</p>
<mat-radio-group [(ngModel)]="businessCompliance">
<mat-radio-button *ngFor="let compliance of compliances" [value]="compliance">{{compliance}}</mat-radio-button>
</mat-radio-group>
<p>
    Does your family run or own a business?
</p>
<mat-radio-group>
<mat-radio-button *ngFor="let family of families" [value]="family">{{family}}</mat-radio-button>
</mat-radio-group>
</mat-card-content>
<button class="btn btn primary btn default" (click)="next()">Next</button>
</mat-card>
</div>